{% extends 'base.html' %}
{% load rest_framework %}
{% block title %}Изменить подкатегорию{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% render_form serializer %}</p>
        <a href="{% url 'dds_service:subcategory' %}">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </a>
        <a href="{% url 'dds_service:subcategory' %}" class="btn btn-secondary">Отмена</a>
    </form>

{% endblock %}